{% extends 'base.html' %}
{% block title %}
Переодёжка
{% endblock %}

{% block body %}

<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/themefisher-fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
        <div class="container">
            <nav class="navbar navigation " id="top-nav">
                <a class="navbar-brand logo" href="#">
                   
                </a>

              <button class="navbar-toggler hidden-lg-up float-lg-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
                  <i class="tf-ion-android-menu"></i>
              </button>
              <div class="collapse navbar-toggleable-md" id="navbarResponsive">
                <ul class="nav navbar-nav menu float-lg-right" id="top-nav">
                  <li class=" active">
                    <a href="#">Переодёжка</a>
                  </li>
                  <li class="">
                    <a href="#about">О проекте</a>
                  </li>
                  <li class="">
                    <a href="#service">Сервис</a>
                  </li>
                  <li class="">
                    <a href="#contact">Контакты</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
        

	    <section class="hero-area">
	        <div class="container">
	            <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="static/images/watch.png" alt="">
                    </div>
	                <div class="col-md-6">
	                    <div class="block">
	                        <h1 class="">Упрощенный поиск одежды</h1>
	                        <p>Многие магазины ушли с российского рынка. В их числе и популярные бренды одежды. Где же теперь покупать одежду?</p>
	                        <a class="btn btn-main" href="#about" role="button">Ответ есть!</a>
	                    </div>
	                </div>
	            </div><!-- .row close -->
	        </div><!-- .container close -->
	    </section><!-- header close -->


        <!-- 
        Feature start
        ==================== -->
        <section class="feature section">
            <div class="container">
                <div class="row">
                    <div class="heading">
                        <h2>Переодёжка</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                        <ion-icon name="accessibility-outline"></ion-icon>
                            <h4>Удобство и простота</h4>
                            <p>Наш проект позволяет быстро и удобно отыскать одежду</p>
                        </div>
                        <div class="feature-box">
                            <ion-icon name="duplicate-outline"></ion-icon>
                            <h4>Множество источников</h4>
                            <p>В каталоге ты увидишь товары из разных вторичных, и не только, магазинов</p>
                        </div>
                        <div class="feature-box">
                            <ion-icon name="sparkles-outline"></ion-icon>
                            <h4>Уникальность</h4>
                            <p>Нашему сервису нет аналогов</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="static/images/watch-2.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <ion-icon name="alarm-outline"></ion-icon>
                            <h4>Экономия времени</h4>
                            <p>Используя наш сайт ты сэкономишь время</p>
                        </div>
                        <div class="feature-box">
                            <ion-icon name="notifications-outline"></ion-icon>
                            <h4>Ежедневное обновления каталога</h4>
                            <p>Каждый день появляется уйма товаров</p>
                        </div>
                        <div class="feature-box">
                            <ion-icon name="cart-outline"></ion-icon>
                            <h4>Широкий рынок</h4>
                            <p>Мы планируем развивать и расширять продукт</p>
                        </div>
                    </div>
                </div>
            </div><!-- .container close -->
        </section><!-- #service close -->

        <section class="promo-details section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="static/images/watch-3.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="content mt-100">
                            <h2 class="subheading">Designed by professional , the benefit for creative gigs</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia vel labore, deleniti minima nisi, velit atque quaerat impedit ea maxime sunt accusamus at obcaecati dolor iure iusto omnis quis eum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis commodi odit, illo, qui aliquam dol</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="feature-list section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h2>Зачем мы существуем?</h2>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img class="" src="static/images/showcase-4.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="content mt-100">
                            <h4 class="subheading">Lorem ipsum dolor sit amet.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, sed, assumenda. Tenetur sed esse, voluptas voluptate est veniam numquam, quis magni. Architecto minus suscipit quas, quo harum deserunt consequatur cumque!</p>
                            <a href="" class="btn btn-main btn-main-sm">Купить</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-6">
                        <div class="content mt-100">
                            <h4 class="subheading">Lorem ipsum dolor sit amet.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, sed, assumenda. Tenetur sed esse, voluptas voluptate est veniam numquam, quis magni. Architecto minus suscipit quas, quo harum deserunt consequatur cumque!</p>
                            <a href="" class="btn btn-main btn-main-sm">Купить</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="static/img-responsive" src="images/showcase-3.png" alt="">
                    </div>
                </div>
            </div>
        </section>


        <section class="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h2>Любой стиль одежды</h2>
                        </div>

                        <div class="gallery-slider">
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="images/showcase-3.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="images/showcase-3.png" alt="">
                            </div>
                            
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="images/showcase-4.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="static/images/showcase-4.png" alt="">
                            </div>
                            
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="static/images/showcase-5.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="static/images/showcase-5.png" alt="">
                            </div>
                            
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="static/images/showcase-6.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="images/showcase-6.png" alt="">
                            </div>
                            
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="static/images/showcase-7.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="static/images/showcase-7.png" alt="">
                            </div>
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="static/images/watch-3.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="static/images/watch-3.png" alt="">
                            </div>
                            
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="static/images/showcase-4.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="static/images/showcase-4.png" alt="">
                            </div>
                            
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="static/images/showcase-5.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="static/images/showcase-5.png" alt="">
                            </div>
                            
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="static/images/showcase-6.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="static/images/showcase-6.png" alt="">
                            </div>
                            
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a  href="static/images/showcase-7.png" class="image-popup gallery-popup">
                                        <i class="tf-ion-ios-search"></i>
                                    </a>
                                </div>
                                
                                <img class="img-fluid" src="static/images/showcase-7.png" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <section class="call-to-action section bg-opacity bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow text-center">
                        <div class="block">
                            <h2 class="subheading">СЛЕДИ ЗА ОБНОВЛЕНИЯМИ</h2>
                            <p>Подпишись на наши обновления, чтобы узнавать о новинках первым</p>
                            <div class="col-lg-6 offset-lg-3">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Оставь свою почту здесь">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default btn-main" type="button">Подписаться</button>
                                  </span>
                                </div><!-- /input-group -->
                              </div><!-- /.col-lg-6 -->
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #call-to-action close -->


        <section class="testimonials section">
            <div class="container">
                <div class="row">
                    <div class="heading">
                        <h2>Наши отзывы</h2>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial-block">
                            <i class="tf-ion-quote"></i>
                            <p>
                                <em>Очень крутой сайт! Пользуемся переодёжкой, все стабильно! Поддержка суперская, молниеносная, спасибо большое ребятам за такой сервис и высшую культуру обслуживания клиентов! Так держать! Всем советуем) </em>
                            </p>
                            <div class="author-details">
                                <img src="static/images/avater.png" alt="">
                                <h4>Валентин Лобанов</h4>
                                <span>Москва</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial-block">
                            <i class="tf-ion-quote"></i>
                            <p>
                                <em>Всё отлично! Надёжные мужики! Даже не понравившийся товар поменяли без лишних вопросов! Красавчики! Всем рекомендую!!!</em>
                            </p>
                            <div class="author-details">
                                <img src="static/images/avater2.png" alt="">
                                <h4>Гена Парламентов</h4>
                                <span>Саратов</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="testimonial-block">
                            <i class="tf-ion-quote"></i>
                            <p>
                                <em>Сделка прошла великолепно. Позвонила продавцу, товар был в наличии. На следующий день кроссовки уже были у меня. Чек, гарантия все прилагалось. Спасибо за оперативность. </em>
                            </p>
                            <div class="author-details">
                                <img src="static/images/avater3.png" alt="">
                                <h4>Лиза Василевская</h4>
                                <span>Казань</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% for i in product %}
                <div>{{ i }}</div>
                {% endfor %}
                <div class="row mt-100">
                    <div class="col-md-12 text-center">
                        <a href="/find" class="btn btn-main">К покупкам</a>
                    </div>
                </div>
                
            </div>
        </section>



        <footer>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                          
                            <ul class="menu">
                                <li class=" active">
                                    <a href="#">Переодёжка</a>
                                </li>
                                <li class="">
                                    <a href="#about">О проекте</a>
                                </li>
                                <li class="">
                                    <a href="#service">Сервис</a>
                                </li>
                                <li class="">
                                    <a href="#contact">Контакты</a>
                                </li>
                            </ul>
                        
                        </div>
                    </div>
                </div>
            </div>
        </footer>



        <script src="{{ url_for('static', filename='js/vendor/jquery-2.1.1.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js {{ url_for('static', filename='css/themefisher-fonts.css') }}" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
{% endblock %}
